In [1]:
class Person:
    pass

john_doe = Person()
john_doe.name = "Abhinav"
john_doe.surname = "Yadav"
john_doe.year_of_birth = 1999
john_doe.x=10

print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))
print("We are Good to go %d.",john_doe.x)

<__main__.Person object at 0x7f4dab593128>
Abhinav Yadav was born in 1999.
We are Good to go %d. 10

In [ ]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [ ]:
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print("%s %s was born in %d"% (alec.name,alec.surname,alec.year_of_birth))

<__main__.Person object at 0x0000022EB1F6CB50>
Alec Baldwin was born in 1958

In [ ]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2019))

Alec Baldwin was born in 1958 .
61

In [2]:
class Student:
    def __init__(self,rollno,name,marks):
        self.rollno=rollno
        self.name=name
        self.marks=marks
        
    def passing(self,perviouse_marks):
        return self.marks+perviouse_marks
    
    def __str__(self):
        return "%s rollno is %d and got %d marks."%(self.name,self.rollno,self.marks)
    
x = Student(10,"Abhinav",25)
print(x)
print(x.passing(10))

Abhinav rollno is 10 and got 25 marks.
35

In [ ]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Charlie Brown was born in 2006 .
<class '__main__.Student'>
True
True

In [ ]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown was born in 2006 . And has ID: 1

In [ ]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [ ]:
%%writefile superman.txt
Hello, this is a quick superman test file

Writing superman.txt

In [ ]:

my_file = open('superman.txt')

In [ ]:

my_file.read()

'Hello, this is a quick superman test file\n'

In [ ]:

my_file.read()

''

In [ ]:

my_file.seek(0)

0

In [ ]:

my_file.read()

'Hello, this is a quick superman test file\n'

In [ ]:

my_file.seek(0)

0

In [ ]:

my_file.readlines()

['Hello, this is a quick superman test file\n']

In [ ]:
my_file = open('superman.txt','w+')

In [ ]:
my_file.write('This is a new line')

18

In [ ]:
my_file.seek(0)

0

In [ ]:
my_file.read()

'This is a new line'

In [ ]:
%%writefile test.txt
First Line
Second Line

Writing test.txt

In [ ]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [ ]:
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

In [ ]:
from io import StringIO

In [ ]:
message = 'This is just a normal string.'

In [ ]:
f = StringIO(message)

In [ ]:
f.read()

'This is just a normal string.'

In [ ]:
f.write(' Second line written to file like object')

40

In [ ]:
f.seek(0)

0

In [ ]:
f.read()

''

In [ ]:
from io import StringIO

In [ ]:
new_massage = 'Back To nations of hell and gods'

In [ ]:
f1 = StringIO(new_massage)

In [ ]:
f1.read()

'Back To nations of hell and good'

In [ ]:
f1.write('Your are Worng')

14

In [ ]:
f1.seek(0)

0

In [ ]:
f1.read()

'Back To nations of hell and goodYour are Worng'